@font-face {
    font-family: 'Mona Sans';
    src:
        url('fonts/Mona-Sans.woff2') format('woff2 supports variations'),
        url('fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --header-background: #11151C;
    --background: #212D40;

    --text: white;
    --text-muted: #c0c0d0;

    --primary: #9061B4;
    --primary-dark: #7A4F9A;

    --secondary: #4A9FB4;
    --secondary-dark: #3d8496;

    --glass: #9061b440;
    --glass-dark: #7a4f9a40;

    --standard-gap: clamp(10px, 4vw, 25px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
    font-style: oblique;
    border-bottom: 2px solid var(--secondary);
    cursor: pointer;
}

a:hover {
    color: var(--secondary-dark);
    border-bottom: 2px solid var(--secondary-dark);
    transition: .1s;
}

a.button {
    padding: .3rem .5rem;

    border-radius: .5rem;
    border: 1px solid var(--glass);

    box-shadow: 0 0 5px var(--glass);

    background: var(--glass);

    color: var(--text);
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}

a.button>img {
    width: 1.2rem;
    height: 1.2rem;
}

a.button:hover {
    background: var(--glass-dark);
    border-color: var(--glass-dark);

    box-shadow: 0 0 10px var(--glass-dark);

    transition: .1s;
}

body {
    font-family: 'Mona Sans', Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
    font-size: 1.1rem;
    line-height: 1.5;
}

header {
    padding: clamp(7.5px, 2vw, 40px) clamp(15px, 4vw, 40px);
    background-color: var(--header-background);
    color: var(--text);
    box-shadow: 0 0 10px var(--header-background);
}

header>.name {
    font-weight: 900;
    font-style: oblique;
    font-stretch: 125%;
    font-size: clamp(40px, 5vw, 80px);
}

header>.title {
    margin-top: .5vw;
    font-weight: 200;
    font-size: clamp(20px, 2.5vw, 35px);
}

main {
    margin: var(--standard-gap) 0;
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
    padding: 0 var(--standard-gap);
}

section>h1 {
    font-weight: bold;
    font-size: 1.5rem;

    color: var(--primary)
}

div.subsection {
    margin-left: 10px;
    margin-top: .5rem;
}

div.subsection>span.title {
    margin-right: 0.2rem;
    padding-left: 0.2rem;

    border-left: 2px solid var(--primary);
}

.title {
    font-weight: bold;
}

div.subsection>span.title::after {
    content: ':';
}

div.subsection>span.preferred {
    font-weight: bold;

    border-bottom: 2px solid var(--secondary);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 15px;
}

.timeline li {
    border-left: 1px solid var(--text);
    padding-bottom: 2rem;
    padding-left: 20px;
}

.timeline li:last-child {
    border-left: none;
    padding-bottom: 0;
}

.timeline li::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid var(--primary);
    border-radius: 50%;
    left: calc(var(--standard-gap) + 5px);
    background-color: var(--background);
}

.timeline .date {
    font-size: .9rem;
    color: var(--text-muted);
}