@font-face {
    font-family: 'Mona Sans';
    src:
        url('fonts/Mona-Sans.woff2') format('woff2 supports variations'),
        url('fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --header-background: #11151C;
    --background: #212D40;
    --text: white;
    --primary: #9061B4;
    --primary-dark: #7A4F9A;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--primary);

    text-decoration: none;
    font-weight: bold;
    font-style: oblique;

    border-bottom: 2px solid var(--primary);

    cursor: pointer;
}

a:hover {
    color: var(--primary-dark);
    border-bottom: 2px solid var(--primary-dark);
    transition: .1s;
}

a.button {
    padding: .3rem .5rem;

    border-bottom: none;
    border-radius: .5rem;

    background: var(--primary);

    color: var(--text);
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}

a.button>img {
    width: 1.2rem;
    height: 1.2rem;
}

a.button:hover {
    background: var(--primary-dark);

    transition: .1s;
}

body {
    font-family: 'Mona Sans', Arial, sans-serif;
    background-color: var(--background);
}

header {
    padding: 2vw 4vw;

    background-color: var(--header-background);
    color: var(--text);
}

header>div.name {
    font-weight: 900;
    font-style: oblique;
    font-stretch: 125%;
    font-size: clamp(50px, 5vw, 100px);
}

header>div.title {
    margin-top: 1vw;

    font-weight: 200;
    font-size: max(2.5vw, 25px);
    font-size: clamp(25px, 2.5vw, 50px);
}

main {
    padding-top: 2vw;
    padding-bottom: 4vw;
}

section {
    padding: 0 2vw;

    font-size: 1.1em;

    color: var(--text)
}

section>* {
    margin-bottom: 10px;
}

section>h1 {
    font-weight: bold;
    font-size: 1.5em;

    color: var(--primary)
}

div.subsection {
    margin-left: 10px
}

div.subsection>span.title {
    margin-right: 0.2em;

    font-weight: bold;
}

div.subsection>span.title::after {
    content: ':';
}

div.subsection>span.preferred {
    font-weight: bold;

    border-bottom: 2px solid var(--primary);
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}