:root {
    --gray: #928374;
    --dark-gray: #7c6f64;
    --red: #cc241d;
    --dark-red: #9d0006;
    --green: #98971a;
    --dark-green: #79740e;
    --yellow: #d79921;
    --dark-yellow: #b57614;
    --blue: #458588;
    --dark-blue: #076678;
    --purple: #b16286;
    --dark-purple: #8f3f71;
    --aqua: #689d6a;
    --dark-aqua: #427b58;
    --orange: #d65d0e;
    --dark-orange: #af3a03;

    --black: #3c3836;
    --background: #fcfae8;
}

body {
    max-width: 1000px;
    margin: auto;
    color: var(--black);
    background: var(--background);
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

header, main {
    padding: 10px;
}

@media only screen and (min-width: 900px) {
    header {
        float: left;
        max-width: 40%;
    }

    main {
        float: right;
        max-width: 55%;
    }
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--dark-blue);
    font-weight: bold;
}

em {
    color: var(--dark-gray);
}

div.technologies {
    font-weight: bold;
}

div.technologies span.preferred {
    color: var(--dark-orange);
}

#hello { color: var(--dark-green); }
#languages { color: var(--dark-yellow); }
#technologies { color: var(--dark-purple); }
#work-experience { color: var(--dark-aqua); }
#education { color: var(--dark-red); }
#spoken-languages { color: var(--dark-green); }