@import "tailwindcss";

/* TODO: when new version of this plugin is released, it will use another import method probably */
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: var(--font-inter);
	--font-fancy: var(--font-sora);
	--font-mono: var(--font-fira-code);
	--color-slate-850: #172033;
}

@utility list-dash {
	list-style-type: "- ";
}
