---
import { getEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import Container from "@components/Container.astro";
import LinkSocial from "@components/LinkSocial.astro";
import Chip from "@components/Chip.astro";
import { translate } from "@utils/localization";

const links = await getEntry("links", "content");

export async function getStaticPaths() {
  const about = await getEntry("about", "content");
  return [
    {
      params: { lang: undefined },
      props: { text: about.data.en },
    },
    {
      params: { lang: "pl" },
      props: { text: about.data.pl },
    },
  ];
}

const { text } = Astro.props;
const { lang } = Astro.params;
---

<script>
  if (
    navigator.language.startsWith("pl") &&
    sessionStorage.getItem("redirected") === null
  ) {
    sessionStorage.setItem("redirected", "true");
    window.location.href = "/pl";
  }
</script>
<Layout lang={lang}>
  <main class="grid place-items-center p-2 md:p-4">
    <div class="max-w-6xl mx-auto">
      <div class="flex justify-center gap-2">
        {
          links.data
            .filter((link) => link.showOnWebsite)
            .map((link) => (
              <LinkSocial icon={link.icon} text={link.name} link={link.url} />
            ))
        }
      </div>
      <Section heading={translate("section.about", lang)}>
        <Container>
          <div
            set:html={text.replaceAll(
              /\((.*?)\)->\((.*?)\)/gm,
              '<a href="$2">$1</a>'
            )}
            class="prose dark:prose-invert prose-lg"
          />
        </Container>
      </Section>
    </div>
  </main>
  <aside
    class="flex justify-center absolute bottom-2 inset-x-2 text-sm tracking-wide"
  >
    <Chip class="bg-neutral-100">
      {translate("misc.last-updated", lang)}:
      <time datetime={new Date().toISOString()}>
        {new Date().toISOString().split("T")[0]}
      </time>
    </Chip>
  </aside>
</Layout>
