---
import { getEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import Container from "@components/Container.astro";
import LinkSocial from "@components/LinkSocial.astro";
import { translate } from "@utils/translations.ts";

const links = await getEntry("links", "content");

export async function getStaticPaths() {
  const index = await getEntry("index", "content");
  return [
    {
      params: { lang: "pl" },
      props: { text: index.data.pl, sectionHeading: "O mnie" },
    },
    {
      params: { lang: undefined },
      props: { text: index.data.en, sectionHeading: "About Me" },
    },
  ];
}

const { text } = Astro.props;
const { lang } = Astro.params;
---

<Layout lang={lang}>
  <main class="grid place-items-center p-2 md:p-4">
    <div class="max-w-6xl mx-auto">
      <div class="flex justify-center gap-2">
        {
          links.data.map((link) => (
            <LinkSocial icon={link.icon} text={link.name} link={link.url} />
          ))
        }
      </div>
      <Section heading={translate("section.about", lang)}>
        <Container>
          <div
            set:html={text.replaceAll(
              /\((.*?)\)->\((.*?)\)/gm,
              '<a href="$2">$1</a>'
            )}
            class="prose dark:prose-invert prose-lg"
          />
        </Container>
      </Section>
    </div>
  </main>
</Layout>
