---
import Container from "@components/Container.astro";
import LinkArrow from "@components/LinkArrow.astro";
import Section from "@components/Section.astro";
import SkillsSection from "@components/SkillsSection.astro";
import Timestamp from "@components/Timestamp.astro";
import TimestampDetail from "@components/TimestampDetail.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout en>
  <main class="grid place-items-center p-2 md:p-4">
    <div class="max-w-6xl mx-auto">
      <Section heading="My skills">
        <ul class="grid grid-cols-1 gap-4 sm:grid-cols-2">
          <SkillsSection type="languages" name="Languages" />
          <SkillsSection type="backend" name="Backend" />
          <SkillsSection type="frontend" name="Frontend" />
          <SkillsSection type="other" name="Other" />
        </ul>
      </Section>
      <div class="md:grid md:grid-cols-2 gap-4">
        <Section heading="Work experience">
          <Container>
            <ul>
              <Timestamp
                date="2024.04"
                location="Rzeszów, Poland"
                type="Internship"
                head="Frontend Developer at"
                tail="Devi System"
                tailUrl="https://www.devisystem.pl/"
              >
                <TimestampDetail>
                  I was responsible for creating the website for the company <a
                    href="https://eko-luk.pl/">EKOLUK</a
                  >.
                </TimestampDetail>
                <TimestampDetail>
                  I had the opportunity to develop my skills related to Vue and
                  TypeScript.
                </TimestampDetail>
              </Timestamp>
              <Timestamp
                date="2022.10"
                location="Rzeszów, Poland"
                type="Internship"
                head=".NET Backend Developer at"
                tail="Ideo"
                tailUrl="https://www.ideosoftware.com/"
              >
                <TimestampDetail>
                  I created a full-stack application displaying a recursive data
                  set, including the implementation of basic CRUD operations on
                  a tree stored in a SQLite database. <a
                    href="https://github.com/kacperwyczawski/TreeStructure"
                    >Repository link</a
                  >.
                </TimestampDetail>
                <TimestampDetail>
                  I developed the frontend and API for a MySQL database
                  containing employee data using .NET Core. <a
                    href="https://github.com/kacperwyczawski/EmployeeManager"
                    >Repository link</a
                  >.
                </TimestampDetail>
                <TimestampDetail>
                  I was responsible for creating a background service running on
                  ASP.NET Core, collecting data from an API and saving it to an
                  SQLite database, and a web application to display this data. <a
                    href="https://github.com/kacperwyczawski/WeatherTracker"
                    >Repository link</a
                  >.
                </TimestampDetail>
              </Timestamp>
              <Timestamp
                date="2022.07"
                location="Rzeszów, Poland"
                type="Paid internship"
                head="Data Base Administrator at"
                tail="Devi System"
                tailUrl="https://www.devisystem.pl/"
              >
                <TimestampDetail>
                  My main task was managing the customer database for Devi
                  System. In my spare time, I had the opportunity to learn
                  ASP.NET Core, EF Core, and SQLite technologies.
                </TimestampDetail>
              </Timestamp>
              <Timestamp
                date="2022.04 - 2022.05"
                location="Faro, Portugal"
                type="Internship"
                head="Participant in IT internship at"
                tail="Erasmus+ project"
                tailUrl="https://faro.zse.rzeszow.pl/"
              >
                <TimestampDetail>
                  I participated in an IT internship at one of the Portuguese IT
                  companies. The scope of the topics I learned included:
                </TimestampDetail>
                <TimestampDetail>
                  Programming in high-level languages (Python, C++, C#, Java).
                </TimestampDetail>
                <TimestampDetail>
                  Creating web applications (HTML, CSS, JS, JQuery, PHP, MySQL,
                  Wordpress).
                </TimestampDetail>
                <TimestampDetail>
                  Administration of relational databases.
                </TimestampDetail>
                <TimestampDetail>
                  Installation and management of local computer networks and
                  operating systems.
                </TimestampDetail>
              </Timestamp>
            </ul>
          </Container>
        </Section>
        <Section heading="Education">
          <Container>
            <ul>
              <Timestamp
                date="2020.09 - Present"
                location="Rzeszów, Poland"
                head="IT Technician at"
                tail="Zespół Szkół Elektronicznych w Rzeszowie"
                tailUrl="https://elektronik.rzeszow.pl/"
              >
                <TimestampDetail>
                  INF.02 qualification result:
                  <strong> 100% </strong>
                  <br />
                  <i class="text-neutral-400 dark:text-slate-500">
                    (Administration and management of operating systems,
                    peripheral devices, and local computer networks)
                  </i>
                </TimestampDetail>
                <TimestampDetail>
                  INF.03 approximate result:
                  <strong> 100% </strong>
                  <br />
                  <i class="text-neutral-400 dark:text-slate-500">
                    (Development and management of websites, web applications,
                    and databases)
                  </i>
                </TimestampDetail>
              </Timestamp>
            </ul>
          </Container>
        </Section>
      </div>
      <footer class="flex justify-center">
        <LinkArrow link="/projects" text="Check out my projects" />
      </footer>
    </div>
  </main>
</Layout>
