---
import LinkArrow from "@components/LinkArrow.astro";
import ProjectCard from "@components/ProjectCard.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <div class="grid place-items-center p-2 md:p-4">
        <div class="max-w-4xl flex gap-4 flex-col">
            <ProjectCard
                title="This website"
                technologies={[
                    "Astro",
                    "TailwindCSS",
                    "CSS",
                    "JavaScript",
                    "TypeScript",
                    "GitHub Actions",
                ]}
                sourceLink="https://github.com/kacperwyczawski/kacperwyczawski.github.io"
            >
                This is my personal website, where you are currently visiting!
                Through building and maintaining this website, I have mastered
                my skills in front-end development. I hope you enjoy exploring
                it!
            </ProjectCard>
            <ProjectCard
                title="Sigma Cars"
                technologies={[
                    "Docker",
                    "C#",
                    "ASP.NET Core",
                    "PostgreSQL",
                    "Entity Framework Core",
                    "OpenAPI",
                    "MediatR",
                    "Nuxt",
                    "TailwindCSS",
                    "Vue",
                    "Nginx",
                ]}
                sourceLink="https://github.com/kacperwyczawski/sigma-cars"
                status="beta"
            >
                Web app for renting cars. It's a learning project showcasing
                full-stack web development. Built with ASP.NET Core and Vue/Nuxt,
                on Docker. Extremely easy to run locally via Docker Compose.
                More details in the README.
            </ProjectCard>
            <ProjectCard
                title="Auto Cut"
                technologies={[
                    "C#",
                    "WebAssembly",
                    "PWA",
                    "Blazor WASM",
                    "CSS",
                    "Razor",
                    "ASP.NET Core",
                    "GitHub Actions",
                    "Unit testing",
                ]}
                sourceLink="https://github.com/kacperwyczawski/autocut"
                liveLink="https://kacperwyczawski.github.io/autocut/"
                status="beta"
            >
                Panel cutting optimization software that runs seamlessly on any
                modern browser or device using WebAssembly (WASM) and PWA
                technologies. This innovative app utilizes efficient algorithms
                written in C# to optimize stock cutting, saving time and
                reducing waste.
            </ProjectCard>
            <LinkArrow
                link="https://github.com/kacperwyczawski?tab=repositories"
                text="Find more on my GitHub"
            />
        </div>
    </div>
</Layout>
