---
import Layout from "@layouts/Layout.astro"
import MySkills from "@sections/MySkills.astro";
import WorkExperienceAndEducation from "@sections/WorkExperienceAndEducation.astro"
import Footer from "@sections/Footer.astro";
---

<Layout>
  <main class="grid place-items-center p-2 md:p-4">
    <div class="max-w-6xl mx-auto">
      <MySkills/>
      <WorkExperienceAndEducation/>
      <Footer/>
    </div>
  </main>
</Layout>
