---
export interface Props {
    emphasis?: boolean;
}

const { emphasis = false } = Astro.props;

const emphasisClass = emphasis ? "text-fuchsia-700 font-semibold" : "";
---

<span class:list={["inline-block px-1.5 py-0.5 sm:px-2 sm:py-1 border dark:border-slate-800 rounded-lg", emphasisClass]}>
    <slot />
</span>
