---
export interface Props {
	icon: string;
	text: string;
	link: string;
}

const { icon, text, link } = Astro.props;
---

<a
    href={link}
    aria-label={text}
    class="flex gap-2 border rounded-lg p-2 bg-neutral-100 dark:bg-slate-900 text-neutral-700 dark:border-slate-800 dark:text-neutral-300 hover:bg-neutral-200 dark:hover:bg-slate-850 transition-colors"
>
    <Fragment set:html={icon}/>
    <div class="hover:underline hidden sm:inline">
        {text}
    </div>
</a>
