---
export interface Props {
    iconSvg: string;
    text: string;
    link: string;
    ariaLabel: string;
}

const { iconSvg, text, link, ariaLabel } = Astro.props;
---

<a
    href={link}
    aria-label={ariaLabel}
    class="flex gap-2 border rounded-lg p-2 bg-neutral-100 text-neutral-700"
>
    <div>
        <Fragment set:html={iconSvg} />
    </div>
    <div class="hover:underline hidden sm:inline">
        {text}
    </div>
</a>
