---
export interface Props {
    iconSvg: string;
    text: string;
    link: string;
}

const { iconSvg, text, link } = Astro.props;
---

<a href={link} class="flex gap-2 border rounded-lg p-2 text-neutral-700">
    <div>
        <Fragment set:html={iconSvg} />
    </div>
    <div class="underline hidden sm:inline hover:decoration-2">
        {text}
    </div>
</a>
