---
const { content, lang } = Astro.props;
---

<button
  data-content={content}
  data-lang={lang}
  class="inline-block px-2 border border-neutral-200 dark:border-slate-800 rounded-lg tracking-tight"
>
  {lang === "en" ? "Click to reveal" : "Kliknij, aby zobaczyć"}
</button>
<script>
  const button = document.querySelector("button");
  if (!button) {
    throw new Error("button not found");
  }
  const content = button.dataset.content!;
  const lang = button.dataset.lang!;
  let revealed = false;
  button.addEventListener("click", () => {
    if (!revealed) {
      button.textContent = content ?? "nothing here";
      revealed = true;
      button.classList.add("select-auto");
    } else {
      navigator.clipboard.writeText(content);
      alert(lang === "en" ? "Copied to clipboard!" : "Skopiowano do schowka!");
    }
  });
</script>
