---
export interface Props {
    heading: string;
}

const { heading } = Astro.props;
---

<section>
    <h2 class="font-fancy text-2xl text-neutral-400 text-center mb-4 mt-8">
        {heading}
    </h2>
    <slot />
</section>
