<li
  class="relative before:bg-neutral-200 before:w-4 before:h-[1px] before:block before:absolute before:-left-6 before:top-1/2 ml-4 before:dark:bg-slate-800 first:mt-1"
>
  <slot />
</li>
<!-- TODO: shorten vertical line of last item -->
