---
import { getEntry } from "astro:content";
import { localizeUrl, translate } from "@utils/localization.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";

const index = await getEntry("index", "content");
const cv = await getEntry("cv", "content");
const links = await getEntry("links", "content");
export async function getStaticPaths() {
  return [
    {
      params: { lang: "en" },
    },
    {
      params: { lang: "pl" },
    },
  ];
}
const { lang } = Astro.params;
---

<Layout lang={lang}>
  <div class="p-4 print:p-0 flex flex-col items-center gap-4">
    <aside class="print:hidden">
      <Container>
        <a href={localizeUrl("/cv", lang)} class="underline text-blue-500"
          >[{translate("link.go-back", lang)}]</a
        >
        {translate("cv-print.info", lang)}
      </Container>
    </aside>
    <section class="bg-white text-black w-[21cm] h-[29.7cm] p-[1cm] relative">
      <h1 class="font-fancy font-semibold text-3xl text-center">
        Kacper Wyczawski
      </h1>
      <!--SSE-->
      <p
        class="text-sm text-center text-neutral-100 mt-4 bg-fuchsia-700 py-0.5"
      >
        {
          links.data.map((link, i) => (
            <>
              {i !== 0 && " | "}
              {/* prettier-ignore */}
              <a href={link.url} class="underline">{link.printText ?? link.name}</a>
            </>
          ))
        }
      </p>
      <!--/SSE-->
      <p class="mt-4">
        {index.data.plCv}
      </p>
      <h2 class="mt-4 shadow-[inset_0_-0.875rem_theme(colors.fuchsia.700)]">
        <span class="text-neutral-100 font-fancy px-1.5 py-0.5 bg-fuchsia-700">
          Umiejętności
        </span>
      </h2>
      // to be continued
      <div id="footer"></div>
    </section>
    <div class="print:hidden">
      <Container>
        <label for="footer-text" class="block mb-2">Optional footer:</label>
        <textarea
          name="footer-text"
          id="footer-text"
          cols="50"
          rows="8"
          class="text-black p-2 rounded-lg focus:outline-none"></textarea>
      </Container>
    </div>
  </div>
</Layout>
<script>
  const footer = document.getElementById("footer") as HTMLDivElement;
  const footerText = document.getElementById(
    "footer-text"
  ) as HTMLTextAreaElement;
  footerText.addEventListener("input", () => {
    footer.innerHTML = footerText.value;
  });
</script>
<style>
  @page {
    size: A4 portrait;
    margin: 0;
  }
</style>
