---
import Container from "@components/Container.astro";
import LinkArrow from "@components/LinkArrow.astro";
import Section from "@components/Section.astro";
import SkillsSection from "@components/SkillsSection.astro";
import Timestamp from "@components/Timestamp.astro";
import TimestampDetail from "@components/TimestampDetail.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main class="grid place-items-center p-2 md:p-4">
    <div class="max-w-6xl mx-auto">
      <Section heading="Umiejętności">
        <ul class="grid grid-cols-1 gap-4 sm:grid-cols-2">
          <SkillsSection type="languages" name="Języki" />
          <SkillsSection type="backend" name="Backend" />
          <SkillsSection type="frontend" name="Frontend" />
          <SkillsSection type="other" name="Inne" />
        </ul>
      </Section>
      <Section heading="Doświadczenie zawodowe">
        <Container>
          <ul>
            <Timestamp
              date="2024.04"
              location="Rzeszów, Polska"
              type="Praktyka"
              head="Frontend Developer w"
              tail="Devi System"
              tailUrl="https://www.devisystem.pl/"
            >
              <TimestampDetail>
                Byłem odpowiedzialny za stworzenie strony internetowej dla firmy <a
                  href="https://eko-luk.pl/">EKOLUK</a
                >.
              </TimestampDetail>
              <TimestampDetail>
                Miałem okazję rozwinąć swoje umiejętności związane z Vue oraz
                TypeScript.
              </TimestampDetail>
            </Timestamp>
            <Timestamp
              date="2022.10"
              location="Rzeszów, Polska"
              type="Praktyka"
              head=".NET Backend Developer w"
              tail="Ideo"
              tailUrl="https://www.ideosoftware.com/"
            >
              <TimestampDetail>
                Stworzyłem aplikację fullstackową wyświetlającą rekurencyjny
                zbiór danych, łącznie z implementacją podstawowych operacji CRUD
                na drzewie przechowywanym w bazie SQLite. <a
                  href="https://github.com/kacperwyczawski/TreeStructure"
                  >Link do repozytorium</a
                >.
              </TimestampDetail>
              <TimestampDetail>
                Stworzyłem frontend oraz API dla bazy danych MySQL, zawierającej
                dane pracowników przy użyciu .NET Core. <a
                  href="https://github.com/kacperwyczawski/EmployeeManager"
                  >Link do repozytorium</a
                >.
              </TimestampDetail>
              <TimestampDetail>
                Byłem odpowiedzialny za stworzenie usługi (background service),
                działającej na platformie ASP.NET Core, zbierającej dane z API i
                zapisującej je do bazy danych SQLite, oraz aplikacji webowej do
                wyświetlania tych danych. <a
                  href="https://github.com/kacperwyczawski/WeatherTracker"
                  >Link do repozytorium</a
                >.
              </TimestampDetail>
            </Timestamp>
            <Timestamp
              date="2022.07"
              location="Rzeszów, Polska"
              type="Płatny staż"
              head="Administrator baz danych w"
              tail="Devi System"
              tailUrl="https://www.devisystem.pl/"
            >
              <TimestampDetail>
                Moim głównym zadaniem było zarządzanie bazą danych klientów
                firmy Devi System. W wolnym czasie miałem okazję nauczyć się
                technologii ASP.NET Core, EF Core oraz SQLite.
              </TimestampDetail>
            </Timestamp>
            <Timestamp
              date="2022.04 - 2022.05"
              location="Faro, Portugalia"
              type="Praktyka"
              head="Uczestnik praktyki zawodowej z dziedziny informatyki w"
              tail="projekcie Erasmus+"
              tailUrl="https://faro.zse.rzeszow.pl/"
            >
              <TimestampDetail>
                Uczestniczyłem w praktykach zawodowych w jednej z portugalskich
                firm z branży IT. Do zakresu poznanych przeze mnie zagadnień
                należało:
              </TimestampDetail>
              <TimestampDetail>
                Programowanie aplikacji w językach wysokiego poziomu (Python,
                C++, C#, Java).
              </TimestampDetail>
              <TimestampDetail>
                Tworzenie aplikacji webowych (HTML, CSS, JS, jQuery, PHP, MySQL,
                WordPress).
              </TimestampDetail>
              <TimestampDetail>
                Administracja relacyjnymi bazami danych.
              </TimestampDetail>
              <TimestampDetail>
                Instalacja i zarządzanie lokalnymi sieciami komputerowymi oraz
                systemami operacyjnymi.
              </TimestampDetail>
            </Timestamp>
          </ul>
        </Container>
      </Section>
      <Section heading="Edukacja">
        <Container>
          <ul>
            <Timestamp
              date="2020.09 - Obecnie"
              location="Rzeszów, Polska"
              head="Technik Informatyk w"
              tail="Zespole Szkół Elektronicznych w Rzeszowie"
              tailUrl="https://elektronik.rzeszow.pl/"
            >
              <TimestampDetail>
                Wynik z kwalifikacji INF.02:
                <strong> 100% </strong>
                <br />
                <i class="text-neutral-400 dark:text-slate-500">
                  (Administracja i eksploatacja systemów operacyjnych, urządzeń
                  peryferyjnych i lokalnych sieci komputerowych)
                </i>
              </TimestampDetail>
              <TimestampDetail>
                Wstępny wynik z kwalifikacji INF.03:
                <strong> 100% </strong>
                <br />
                <i class="text-neutral-400 dark:text-slate-500">
                  (Tworzenie i administrowanie stronami i aplikacjami
                  internetowymi oraz bazami danych)
                </i>
              </TimestampDetail>
            </Timestamp>
          </ul>
        </Container>
      </Section>
      <footer class="flex justify-center">
        <LinkArrow link="/pl/projects" text="Zobacz moje projekty" />
      </footer>
    </div>
  </main>
</Layout>
