---
import LinkArrow from "@components/LinkArrow.astro";
import Project from "@components/Project.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main class="p-2 md:p-4">
    <div class="max-w-4xl mx-auto flex gap-4 flex-col">
      <Project name="website">
        Jest to moja osobista strona internetowa. Poprzez jej budowę i rozówj,
        doskonaliłem swoje umiejętności w zakresie frontendu.
      </Project>
      <Project name="arxchess">
        Arx Chess to gra strategiczna, oparta na szachach. Znajdują się w niej
        aspekty takie jak zarządzanie zasobami oraz niestandardowe figury
        szachowe.
      </Project>
      <Project name="autocut">
        Oprogramowanie do optymalizacji cięcia, stworzone z myślą o
        piłach panelowych. Jest to progresywna aplikacja webowa, która działa na
        każdej nowoczesnej przeglądarce lub urządzeniu. Ten projekt zdobył nagrodę specjalną
        w hackathonie "Transformacja Cyrkularna Biznesu".
      </Project>
      <Project name="sigmacars">
        Aplikacja do wynajmu samochodów, pełniąca funkcję demonstracyjną pełnego
        stosu technologicznego aplikacji webowej, opartej na konteneryzacji oraz
        architekturze microservices. Więcej szczegółów i dokumentacja znajduje
        się w repozytorium.
      </Project>
      <div class="flex justify-center">
        <LinkArrow
          link="https://github.com/kacperwyczawski?tab=repositories"
          text="Zobacz więcej na moim GitHubie"
        />
      </div>
    </div>
  </main>
</Layout>
