---
import "@fontsource/inter/variable.css";
import "@fontsource/sora/variable.css";
import "@fontsource/fira-code/variable.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#a21caf" />
    <meta name="description" content="Kacper Wyczawski's personal website" />
    <meta
      http-equiv="Content-Security-Policy"
      content="img-src https://* 'self'; child-src 'none'; base-uri 'none';"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Kacper Wyczawski</title>
  </head>
  <body class="selection:bg-fuchsia-700/20">
    <header
      class="flex flex-col gap-1 md:flex-row justify-between p-4 md:p-8 sticky top-0 z-50 backdrop-blur-sm bg-neutral-100/70 transition-all"
    >
      <h1 class="font-fancy font-semibold text-3xl md:text-4xl">
        <a class="cursor-default" href="/">Kacper Wyczawski</a>
      </h1>
      <nav class="text-2xl space-x-4 leading-[2.5rem]">
        <a
          class="transition text-fuchsia-700 md:text-black md:hover:text-fuchsia-700"
          href="/">Home</a
        >
        <a
          class="transition text-fuchsia-700 md:text-black md:hover:text-fuchsia-700"
          href="/projects">Projects</a
        >
      </nav>
    </header>
    <slot />
  </body>
</html>

<style is:global>
  html {
    background-color: #f5f5f5;
  }
</style>

<script>
  const header = document.querySelector("header");

  window.onscroll = () => {
    if (window.scrollY >= 150) {
      header?.classList.add("md:p-4");
    } else {
      header?.classList.remove("md:p-4");
    }
  };
</script>
