---
import { getEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/inter";
import "@fontsource-variable/sora";
import "@fontsource-variable/fira-code";

const description = await getEntry("index", "index")
  .then((s) => s.body)
  .then((s) =>
    s
      .replaceAll("[", "")
      .replaceAll("]", "")
      .replaceAll(/\(.*\)/g, "")
  ); // remove Markdown stuff
---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-eval' static.cloudflareinsights.com; connect-src 'self' cloudflareinsights.com; style-src 'self' 'unsafe-inline'">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#a21caf" />
    <meta name="description" content={description} />
    <meta property="og:title" content="Kacper Wyczawski's website" />
    <meta
      property="og:description"
      content="Kacper is a web developer and open-source enthusiast."
    />
    <meta property="og:url" content={import.meta.env.SITE} />
    <meta property="og:type" content="profile" />
    <meta property="og:profile:first_name" content="Kacper" />
    <meta property="og:profile:last_name" content="Wyczawski" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "ProfilePage",
        "dateCreated": "2024-02-24T18:51:11+0000",
        "mainEntity": {
          "@type": "Person",
          "name": "Kacper Wyczawski",
          "description": "Kacper is a web developer, open-source enthusiast and student.",
          "sameAs": [
            "https://github.com/kacperwyczawski",
            "https://linkedin.com/in/kwyczawski"
          ]
        }
      }
    </script>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Kacper Wyczawski</title>
    <ViewTransitions />
  </head>
  <body class="selection:bg-fuchsia-700/20">
    <header
      class="flex flex-col gap-1 md:flex-row justify-between p-4 md:p-8 sticky top-0 z-50 backdrop-blur-sm bg-neutral-100/70 dark:bg-slate-900/70"
    >
      <h1
        class="font-fancy font-semibold text-3xl md:text-4xl dark:text-neutral-100"
      >
        <a class="cursor-default" href="/">Kacper Wyczawski</a>
      </h1>
      <nav class="text-2xl space-x-4 leading-[2.5rem]">
        <a
          class="transition text-fuchsia-700 dark:text-fuchsia-400 md:text-black dark:md:text-neutral-100 md:hover:text-fuchsia-700 md:hover:dark:text-fuchsia-400"
          href="/">Home</a
        >
        <a
          class="transition text-fuchsia-700 dark:text-fuchsia-400 md:text-black dark:md:text-neutral-100 md:hover:text-fuchsia-700 md:hover:dark:text-fuchsia-400"
          href="/projects">Projects</a
        >
        <a
          class="transition text-fuchsia-700 dark:text-fuchsia-400 md:text-black dark:md:text-neutral-100 md:hover:text-fuchsia-700 md:hover:dark:text-fuchsia-400"
          href="/resume">Resume</a
        >
      </nav>
    </header>
    <div
      class="background-pattern dark:text-neutral-100"
      transition:animate="fade"
    >
      <slot />
    </div>
    <style>
      body {
        --bg-color: #f5f5f5; /* tailwind: neutral-100 */
        --grid-color: #f1f1f1;
        background-size: 32px 32px;
        background-color: var(--bg-color);
        background-image: linear-gradient(
            to right,
            var(--grid-color) 1px,
            transparent 1px
          ),
          linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
        background-position: 10px 10px;
        background-attachment: fixed;
      }

      @media (prefers-color-scheme: dark) {
        body {
          --bg-color: #0f172a; /* tailwind: slate-900 */
          --grid-color: #141f31;
        }
      }
    </style>
  </body>
</html>
