---
import "@fontsource/inter/variable.css";
import "@fontsource/sora/variable.css";
import "@fontsource/fira-code/variable.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#a21caf" />
    <meta name="description" content="Kacper Wyczawski's personal website" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Kacper Wyczawski</title>
  </head>
  <body>
    <header
      class="flex flex-col md:flex-row justify-between p-4 md:p-8 sticky top-0 z-50 backdrop-blur-sm bg-neutral-100/70"
    >
      <h1 class="font-fancy text-4xl font-semibold">
        <a class="cursor-default" href="">Kacper Wyczawski</a>
      </h1>
      <nav class="text-2xl space-x-4 leading-[2.5rem]">
        <a class="hover:text-fuchsia-700 transition" href="/">Home</a>
        <a class="hover:text-fuchsia-700 transition" href="/projects">Projects</a
        >
      </nav>
    </header>
    <slot />
  </body>
</html>
<style is:global>
  html {
    background-color: #f5f5f5;
  }
</style>
